a* {
    box-sizing: border-box;

}

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.my-nav {
    border: 0;
    border-radius: 0;
    width: 100%;
    background-color: black;
    .navbar-nav {
        padding-right: 5rem;
        align-items: baseline;
        img {
            height: 35px;
            width: 35px;
            border-radius: 999px;
            margin: 0 10px;
        }
    }
    .dropdown {
        position: relative;
        display: inline-block;
        &:hover .dropdown-content {
            display: block;
        }
        .dropbtn {
            font-size: 16px;
            border: none;
            background: none;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            z-index: 1;
            a {
                color: black;
                padding: 12px 16px;
                display: block;
            }
            a:hover {
                background-color: #ddd;
            }
        }
    }
}

#header {
    background: url('../img/cart.jpg');
    max-width: 100%;
    .title {
        color: #fff;
        font-weight: 600;
        margin: 0;
        padding: 80px 0;
        display: inline-block;
    }
}

.my-container {
    margin: 30px auto;
    padding: 0 15em;
    div {
        .credits {
            margin: auto;
            &::before {
                content: "Get ";
            }
            &::after {
                content: " credits for this booking";
            }
        }
        button {
            width: 20%;
            background-color: #ffa500;
            border: #ffa500;
            a {
                text-decoration: none;
                color: white;
            }
            &:hover {
                background-color: #ffa500;
                border: #ffa500;
            }
        }
    }
}

.title {
    font-size: 25px;
    text-align: center;
    padding-top: 2.5em;
    cursor: pointer;
}

footer {
    .my-container {
        margin: 30px auto 0 auto;
        background: black no-repeat;
        .title {
            font-size: 18px;
            font-weight: bold;
        }
        .line {
            width: 80px;
            height: 1px;
            background: red;
            margin: 0 auto;
        }
        ul {
            list-style: none;
            color: silver;
        }
        form {
            padding-left: 9.5rem;
        }
        button {
            color: white !important;
            background: #ffa500 !important;
            float: right;
            width: 45% !important;
        }
        .form-control {
            width: 100%; 
        }
    }
}

@media (max-width: 992px) {
    .my-nav .dropdown {
        display: none;
    }
}